body {
    background-color: #b0e6ed;
}

table {
    text-align: center;
    font-size: 125px;
    margin: auto;
    width: 50%;
}

/* td values keep table cells at a fixed size regardless of empty or not */
td {
    width:300px; 
    height:150px;
    max-width:300px;
    min-width:300px; 
    max-height:150px; 
    min-height:150px;
    overflow:hidden; /*(Optional)This might be useful for some overflow contents*/
}
/* table borders */
.bottom  {
    border-bottom: solid black 2px;
}

.right {
    border-right: solid black 2px;
}