body {
    background-color: #e2e5e5;;
}

table {
    text-align: center;
    font-size: 125px;
    margin: auto;
    width: 50%;
    /* background-color: #f5f5dc; */
}

/* td values keep table cells at a fixed size regardless of empty or not */
td {
    width:300px; 
    height:150px;
    max-width:300px;
    min-width:300px; 
    max-height:150px; 
    min-height:150px;
    overflow:hidden; /*(Optional)This might be useful for some overflow contents*/
}

/* table borders */
.bottom  {
    border-bottom: solid black 2px;
}

.right {
    border-right: solid black 2px;
}
/* restart button */
#restart-btn {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    font-weight: bold;
    background-color: #ffe4c4;
    /* horizontalally center btn */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Game won || draw game message */
#game-message {
    text-align: center;
}

/* .hidden {
    display: none;
} */

/* added to winning table cells */
.winner { 
    background-color: #f5f5dc;
}